@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex: content;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ::-webkit-scrollbar {
  display: none;
} */

/* :root {
  background-color: aqua;
  width: 340px;
  height: 640px;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
} */

#fullBody {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/src/static/images/iconGorku.svg');
  background-size: 5%;
  
}

#content {
  background-color: #ffffff;
  font-family: "Inter";
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
  /* justify-content: center; */
  /* position: absolute;
  top: 50%;
  left: 50%; */
  font-size: 12px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

select {
  border-right: 16px solid transparent
}

.hide_file {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 80px;
  padding-left: 18px;
  padding-right: 18px;
  height: 9rem;
  font-size: 24px;
  width: 100%;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
  content: 'Select some files';

}

/* .inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: black;
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */



@tailwind base;
@tailwind components;
@tailwind utilities;